<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h1 class="mb-4 mt-4 ">User Profile Page</h1>
      <a class="btn btn-secondary mt-3" href="/users">
        <i class="fa-solid fa-house"></i>
        Back
      </a>
    </div>

    <div class="card text-center">

      <div class="card-header">
        <h4>
          {{ user.first_name }} {{ user.last_name }}
        </h4>
      </div>

      <div class="card-body">
        <p>Id: {{ user.id }}</p>
        <p>Email: {{ user.email }}</p>
      </div>
      <div class="card-footer text-body-secondary d-flex justify-content-between">
        <p class="mb-0">Created: {{ user.created_at }}</p>
        <p class="mb-0">Updated: {{ user.updated_at }}</p>

      </div>
    </div>


    <a href="/users/{{user.id}}/edit" class="btn btn-warning mt-4" style="color: #ffffff;">
      <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
      Edit
    </a>
    <a href="/users/{{user.id}}/delete" class="btn btn-danger mt-4">
      <i class="fa-solid fa-trash"></i>
      Delete
    </a>

  </div>
  <script src="https://kit.fontawesome.com/e71eff5305.js" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>
</html>
