*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  padding: 30px 0;
  text-align: center
}
.board{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
}
.square{
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
}
.dark{
  background-color: black
}
